#
# EL1202 template.
#

record(bi,"$(TERMINAL):1")
{
	field(DESC,  "$(DESC1)")
	field(DTYP,  "EL10XX")
	field(ZNAM,  "$(ZNAM1)")
	field(ONAM,  "$(ONAM1)")
	field(ZSV,   "$(ZSV1)")
	field(OSV,   "$(OSV1)")
	field(COSV,  "$(COSV1)")
	field(SCAN,  "$(SCAN1)")
}

record(bi,"$(TERMINAL):2")
{
	field(DESC,  "$(DESC2)")
	field(DTYP,  "EL10XX")
	field(ZNAM,  "$(ZNAM2)")
	field(ONAM,  "$(ONAM2)")
	field(ZSV,   "$(ZSV2)")
	field(OSV,   "$(OSV2)")
	field(COSV,  "$(COSV2)")
	field(SCAN,  "$(SCAN2)")
}

