#
# EL2022 template.
#

record(bo,"$(TERMINAL):1")
{
	field(DESC,  "")
	field(DTYP,  "EL20XX")
	field(ZNAM,  "low")
	field(ONAM,  "high")
	field(PINI,  "YES")
}

record(bo,"$(TERMINAL):2")
{
	field(DESC,  "")
	field(DTYP,  "EL20XX")
	field(ZNAM,  "low")
	field(ONAM,  "high")
	field(PINI,  "YES")
}

