#
# EL2042 template.
#

record(bo,"$(TERMINAL):1")
{
	field(DESC,  "$(DESC1)")
	field(DTYP,  "EL20XX")
	field(ZNAM,  "$(ZNAM1)")
	field(ONAM,  "$(ONAM1)")
	field(PINI,  "$(PINI1)")
}

record(bo,"$(TERMINAL):2")
{
	field(DESC,  "$(DESC2)")
	field(DTYP,  "EL20XX")
	field(ZNAM,  "$(ZNAM2)")
	field(ONAM,  "$(ONAM2)")
	field(PINI,  "$(PINI2)")
}

