record(bo,"$(TERMINAL):1")
{
	field(DTYP, "EL20XX")
	field(ZNAM, "$(ZNAM=low)")
	field(ONAM, "$(ONAM=high)")
	field(OUT, "@device=$(DEVICE),pos=$(POS),channel=1,type=EL2022")
}

record(bo,"$(TERMINAL):2")
{
	field(DTYP, "EL20XX")
	field(ZNAM, "$(ZNAM=low)")
	field(ONAM, "$(ONAM=high)")
	field(OUT, "@device=$(DEVICE),pos=$(POS),channel=2,type=EL2022")
}

