record(ai,"$(TERMINAL):1")
{
	field(DTYP, "EL30XX")
	field(EGU, "$(EGU=mA)")
	field(SCAN, "I/O Intr")
	field(PREC, "$(PREC=3)")
	field(ESLO, "$(ESLO=0.0004882961516159551)")
	field(EOFF, "$(EOFF=4)")
	field(EGUF, "$(EGUF=20)")
	field(EGUL, "$(EGUL=4)")
	field(LINR, "$(LINR=SLOPE)")
	field(ADEL, "$(ADEL=0)")
	field(MDEL, "$(MDEL=0)")
	field(INP, "@device=$(DEVICE),pos=$(POS),channel=1,type=EL3054")
}

record(ai,"$(TERMINAL):2")
{
	field(DTYP, "EL30XX")
	field(EGU, "$(EGU=mA)")
	field(SCAN, "I/O Intr")
	field(PREC, "$(PREC=3)")
	field(ESLO, "$(ESLO=0.0004882961516159551)")
	field(EOFF, "$(EOFF=4)")
	field(EGUF, "$(EGUF=20)")
	field(EGUL, "$(EGUL=4)")
	field(LINR, "$(LINR=SLOPE)")
	field(ADEL, "$(ADEL=0)")
	field(MDEL, "$(MDEL=0)")
	field(INP, "@device=$(DEVICE),pos=$(POS),channel=2,type=EL3054")
}

record(ai,"$(TERMINAL):3")
{
	field(DTYP, "EL30XX")
	field(EGU, "$(EGU=mA)")
	field(SCAN, "I/O Intr")
	field(PREC, "$(PREC=3)")
	field(ESLO, "$(ESLO=0.0004882961516159551)")
	field(EOFF, "$(EOFF=4)")
	field(EGUF, "$(EGUF=20)")
	field(EGUL, "$(EGUL=4)")
	field(LINR, "$(LINR=SLOPE)")
	field(ADEL, "$(ADEL=0)")
	field(MDEL, "$(MDEL=0)")
	field(INP, "@device=$(DEVICE),pos=$(POS),channel=3,type=EL3054")
}

record(ai,"$(TERMINAL):4")
{
	field(DTYP, "EL30XX")
	field(EGU, "$(EGU=mA)")
	field(SCAN, "I/O Intr")
	field(PREC, "$(PREC=3)")
	field(ESLO, "$(ESLO=0.0004882961516159551)")
	field(EOFF, "$(EOFF=4)")
	field(EGUF, "$(EGUF=20)")
	field(EGUL, "$(EGUL=4)")
	field(LINR, "$(LINR=SLOPE)")
	field(ADEL, "$(ADEL=0)")
	field(MDEL, "$(MDEL=0)")
	field(INP, "@device=$(DEVICE),pos=$(POS),channel=4,type=EL3054")
}

