record(ai,"$(TERMINAL):1")
{
	field(DTYP, "EL30XX")
	field(LINR, "LINEAR")
	field(EGU, "Volts")
	field(SCAN, "I/O Intr")
}

record(ai,"$(TERMINAL):2")
{
	field(DTYP, "EL30XX")
	field(LINR, "LINEAR")
	field(EGU, "Volts")
	field(SCAN, "I/O Intr")
}

record(ai,"$(TERMINAL):3")
{
	field(DTYP, "EL30XX")
	field(LINR, "LINEAR")
	field(EGU, "Volts")
	field(SCAN, "I/O Intr")
}

record(ai,"$(TERMINAL):4")
{
	field(DTYP, "EL30XX")
	field(LINR, "LINEAR")
	field(EGU, "Volts")
	field(SCAN, "I/O Intr")
}

