#
# EL3162 template.
#

record(ai,"$(TERMINAL):1")
{
	field(DESC,  "")
	field(DTYP,  "EL31XX")
	field(SCAN,  ".1 second")
	field(EGU,   "Volts")
	field(LINR,  "LINEAR")
	field(PINI,  "YES")
}

record(ai,"$(TERMINAL):2")
{
	field(DESC,  "")
	field(DTYP,  "EL31XX")
	field(SCAN,  ".1 second")
	field(EGU,   "Volts")
	field(LINR,  "LINEAR")
	field(PINI,  "YES")
}

