#
# EL3141 template.
#

record(ai,"$(TERMINAL):1")
{
	field(DESC,  "$(DESC1)")
	field(DTYP,  "EL31XX")
	field(SCAN,  "$(SCAN1)")
	field(ADEL,  "$(ADEL1)")
	field(EGUF,  "$(EGUF1)")
	field(EGUL,  "$(EGUL1)")
	field(HIGH,  "$(HIGH1)")
	field(HIHI,  "$(HIHI1)")
	field(HOPR,  "$(HOPR1)")
	field(HYST,  "$(HYST1)")
	field(LOLO,  "$(LOLO1)")
	field(LOPR,  "$(LOPR1)")
	field(LOW,   "$(LOW1)")
	field(MDEL,  "$(MDEL1)")
	field(SMOO,  "$(SMOO1)")
	field(EGU,   "$(EGU1)")
	field(LINR,  "LINEAR")
}

