record(ao,"$(TERMINAL):1")
{
	field(DTYP, "EL40XX")
	field(EGU, "V")
	field(PREC, "3")
	field(ESLO, "0.0003051850947599719")
	field(EOFF, "0")
	field(EGUF, "10")
	field(EGUL, "0")
	field(LINR, "SLOPE")
	field(ADEL, "0.01")
	field(MDEL, "0.01")
	field(OUT, "@device=$(DEVICE),pos=$(POS),channel=1,type=EL4001")
}

