record(longin,"$(TERMINAL):1")
{
	field(DTYP, "EL50XX")
	field(EGU, "Counts")
	field(SCAN, "I/O Intr")
	field(INP, "@device=$(DEVICE),pos=$(POS),channel=1,type=EL5002")
}

record(longin,"$(TERMINAL):2")
{
	field(DTYP, "EL50XX")
	field(EGU, "Counts")
	field(SCAN, "I/O Intr")
	field(INP, "@device=$(DEVICE),pos=$(POS),channel=2,type=EL5002")
}

